<nav class="currency">
	<div class="currency__logo">
		<img src="../../../assets/img/currency-logo.svg" alt="">
		<p>Currency <span>Exchange</span></p>
	</div>

	<div class="currency__rates">
		<div class="currency__card">
			<div class="currency__title">USD</div>
			<div class="currency__value" data-value="USD">--.--</div>
		</div>
		<div class="currency__card">
			<div class="currency__title">EUR</div>
			<div class="currency__value" data-value="EUR">--.--</div>
		</div>
		<div class="currency__card">
			<div class="currency__title">PLN</div>
			<div class="currency__value" data-value="PLN">--.--</div>
		</div>
	</div>
</nav>