<nav class="currency">
	<div class="currency__logo">
		<img src="../../../assets/img/currency-logo.svg" alt="">
		<p>Currency <span>Exchange</span></p>
	</div>

	<div class="currency__rates">
		<div class="currency__card">
			<div class="currency__title">{{ baseUSD }}</div>
			<div class="currency__value" data-value="USD">{{ USD }}</div>
		</div>
		<div class="currency__card">
			<div class="currency__title">{{ baseEUR }}</div>
			<div class="currency__value" data-value="EUR">{{ EUR }}</div>
		</div>
		<div class="currency__card">
			<div class="currency__title">{{ basePLN }}</div>
			<div class="currency__value" data-value="PLN">{{ PLN }}</div>
		</div>
	</div>
</nav>