<div class="converter">
	<h1>I want to convert ...</h1>
	<form class="converter__form" [formGroup]="form">
		<div class="converter__row">
			<div class="converter__value">
				<label for="name">From:</label>
				<select class="converter__select" formControlName="from" (change)="selected($event, 'from')">
					<option value="UAH">UAH — Ukrainian hryvnia</option>
					<option value="USD">USD — United States dollar</option>
					<option value="EUR">EUR — Euro</option>
					<option value="PLN">PLN — Polish zloty</option>
				</select>
			</div>
			<div class="converter__amount">
				<input id="input" type="number" class="converter__input" formControlName="amountFrom"
					(keyup.enter)="convert($event, 'from')" (mouseenter)="show=1" (mouseleave)="show=0" />
			</div>
		</div>

		<div class="converter__buttons">
			<button class="converter__btn" type="button" (click)="changeSelect(form)">&#8644;</button>
		</div>

		<div class="converter__row">
			<div class="converter__value">
				<label for="name">To:</label>
				<select class="converter__select" formControlName="to" (change)="selected($event, 'to')">
					<option value="UAH">UAH — Ukrainian hryvnia</option>
					<option value="USD">USD — United States dollar</option>
					<option value="EUR">EUR — Euro</option>
					<option value="PLN">PLN — Polish zloty</option>
				</select>
			</div>
			<div class="converter__amount">
				<input id="input" type="number" class="converter__input" formControlName="amountTo"
					(keyup.enter)="convert($event, 'to')" (mouseenter)="show=1" (mouseleave)="show=0" />
			</div>
		</div>
	</form>
	<div *ngIf="loading">
		<img class="converter__loading" src="../../assets/img/loading.gif" alt="">
	</div>
	<div *ngIf="show==1">
		<div><small>Press ENTER to convert</small></div>
	</div>
</div>