<div class="converter">
	<form class="converter__form">
		<div class="converter__row">
			<div class="converter__value">
				<label for="name">From:</label>
				<select class="converter__select">
					<option value="UAH">UAH — Ukrainian hryvnia</option>
					<option value="USD">USD — United States dollar</option>
					<option value="EUR">EUR — Euro</option>
					<option value="GBP">PLN — Polish zloty</option>
				</select>
			</div>
			<div class="converter__amount">
				<input id="input" type="number" class="converter__input" />
			</div>
		</div>

		<div class="converter__buttons">
			<button class="converter__btn" type="button">&#8644;</button>
		</div>

		<div class="converter__row">
			<div class="converter__value">
				<label for="name">To:</label>
				<select class="converter__select">
					<option value="UAH">UAH — Ukrainian hryvnia</option>
					<option value="USD">USD — United States dollar</option>
					<option value="EUR">EUR — Euro</option>
					<option value="GBP">PLN — Polish zloty</option>
				</select>
			</div>
			<div class="converter__amount">
				<input id="input" type="number" class="converter__input" />
			</div>
		</div>

	</form>
</div>